* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: 100%;
  padding-top: 60px;
}

ms-widget-css-seed ms-button.MemberSpaceWidgetInternal__Button_root {
  display: none;
}

#__memberspace_memberlogin_button {
  display: none;
}

#trailer {
  height: 360px;
  width: 750px;
  margin: 0 auto;
}

.pagination .page-item.disabled .page-link {
  display: none;
}
